<!DOCTYPE html>
<html>
  <head>
    <title> Pictionary </title>
  
   	<link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'/>  
    <script src="/lib/js/jquery-1.11.2.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  	<meta name="viewport" content="width=device-width, user-scalable=no" />

  </head>
  <body>