<%- include layouts/header.ejs %>

<script src="/lib/js/paper-full.js" ></script>
<script src="/js/draw.js" type="text/paperscript" canvas="draw"></script>

    <div class="container ">
    <div class="juumbotron">
			<h1 align="center">Draw</h1>
    </div>
      <canvas id="draw" > </canvas>
    </div>
<section class="module" >
  
  <header  id="chatexpand" style="cursor: pointer;" class="top-bar">
    
    <div class="left">
      <!-- <span class="glyphicon glyphicon-search"></span>  -->
      <h1 ><span  >Chats</span></h1>
    </div>
    
  </header>
  <div id="chatwindow">
  <ul class="discussion" >
  </ul>
 <input id="inputMessage" type="text" class="form-control" placeholder="Enter message" maxlength="27">
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/clientfordraw.js"></script>
<script type="text/javascript" src="/js/canvasmod.js"></script>
    
<%- include layouts/footer.ejs %>
