<%- include layouts/header.ejs %>

<script src="/js/client.js"></script>
<script src="/lib/js/paper-full.min.js" ></script>
<script src="/js/draw.js" type="text/paperscript" canvas="draw"></script>

    <div class="container" style="width:200px;">
      <canvas id="draw" resize="true"> </canvas>
    </div>

<%- include layouts/footer.ejs %>
